<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>dhl24shipping</name>
	<displayName><![CDATA[DHL24 Shipping]]></displayName>
	<version><![CDATA[1.0p1.4m]]></version>
	<description><![CDATA[Offer your customers, different delivery methods with UPS]]></description>
	<author><![CDATA[Piotr Maślanka, 3e Internet Software House]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>